* {
  margin: 0;
  padding: 0;
}

:root {
  --text-color: white;
}

header {
  position: sticky;
  top: 0;
}

nav {
  background-color: hotpink;
}

.list {
  display: flex;
  padding: 1.5em;
}

.list .items {
  margin: auto;
  list-style: none;
  font-size: 2em;
  color: var(--text-color);
}

.all-boxes {
  background-color: rgb(85, 243, 85);
  display: flex;
  padding: 2em 4em;
}

.box {
  /* border: 1px solid gray; */
  margin: 10px;
  text-align: center;
}

.box > h2 {
  font-size: 2.5em;
}

.box > p {
  font-size: 2em;
}

.box-1 {
  background-color: rgb(214, 114, 114);
  color: var(--text-color);
}

.box-2 {
  background-color: rgba(54, 54, 248, 0.587);
  color: var(--text-color);
}

.intro-bgc {
  background-color: black;
  color: var(--text-color);
  text-align: center;
  height: 30vh;
  padding: 30px 0;
}

.intro-bgc .intro {
  width: 50vw;
  height: 20vh;
  margin: auto;
  border: 2px solid white;
  border-radius: 40px;
  padding-top: 30px;
  font-size: 1.2em;
}

.intro-bgc .logo {
  width: 50px;
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 200px;
}

.footer {
  text-align: center;
  text-shadow: 0 0 19px black;
  font-size: 2em;
  padding: 20px;
}
