@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  padding: 3em;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.header-info {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.header-info > h1 {
  font-size: 4em;
  color: rgb(26, 26, 119);
}

.header-info > nav > a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 1rem;
  justify-content: start;
}

img {
  border-radius: 50%;
  overflow: hidden;
}

.profile {
  margin: 1em 0;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  background-color: #eceaea;
}

.profile p {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0.5em;
}
